<div id="registerModal">
	<div id="registerWindow">

		<center><h2>Member Registration</h2><center>

			<form id="registerForm">
			
			<center>
			<table cellspacing="10px">
				<tr>	
					<td><div class="register_result" id="register_result"></div></td>
				</tr>
				<tr>
					<td>
						<label class="grey" for="FirstName"><font color="yellow" size="4">First Name:</font></label>
					</td>
					<td>
						<input class="field" type="text" name="FirstName" id="FirstName" value="" size="50" />
					</td>
					<td>
						<label class="grey" for="LastName"><font color="yellow" size="4">Last Name:</font></label>
					</td>
					<td>
						<input class="field" type="text" name="LastName" id="LastName" value="" size="50" />
					</td>
					<td>
						<label class="grey" for="username"><font color="yellow" size="4">Username: </font></label>
					</td>
					<td>
						<input class="field" type="text" name="username" id="username" value="" size="50" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="grey" for="pwd"><font color="yellow" size="4">Password:</font></label>
					</td>
					<td>
						<input class="field" type="password" name="pwd" id="pwd" size="50" />
					</td>
					<td>
						<label class="grey" for="verifypwd"><font color="yellow" size="4">Verify Password:</font></label>
					</td>
					<td>
						<input class="field" type="password" name="verifypwd" id="verifypwd" value="" size="50" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="grey" for="email"><font color="yellow" size="4">Email Address:</font></label>
					</td>
					<td>
						<input class="field" type="text" name="email" id="email" value="" size="50" />
					</td>
				</tr>
				<tr>
						<td>
						<label class="grey" for="verifyemail"><font color="yellow" size="4">Verify Email Address:</font></label>
					</td>
					<td>
						<input class="field" type="text" name="verifyemail" id="verifyemail" value="" size="50" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="regSubmit" class="bt_login" id="regSubmit" value="Register" />
					</td>
				</tr>
				</form>
			</table>
			</center>
			
	</div>
</div>